# Maven
target/
!src/**/target/
.flattened-pom.xml

# Gradle
.gradle/
build/
!src/**/build/

# IntelliJ IDEA
**/.idea/
*.iml
*.ipr
*.iws
out/
!src/**/out/

# Eclipse
.classpath
.project
.settings/

# Mac OS X laundry
.DS_Store
